@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tillana:wght@400;500;700&family=Yusei+Magic&display=swap");

/*
font-family: 'Roboto', sans-serif;
font-family: 'Tillana', cursive;
font-family: 'Yusei Magic', sans-serif;
*/

.h1{
  color: white;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 300;
}

.button_container{
  margin-top: 55px;
  text-align: center;
}

.button{
  text-decoration: none;
  font-size: 20px;
  background-color: grey;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 5px white;
  color: black;
  font-family: 'Tillana', cursive;
  font-weight: 500;
  
}

.button:hover{
  box-shadow: 0 0 5px black inset, 0 0 5px white;
  
}