@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tillana:wght@400;500;700&family=Yusei+Magic&display=swap");

/*
font-family: 'Roboto', sans-serif;
font-family: 'Tillana', cursive;
font-family: 'Yusei Magic', sans-serif;
*/

.card_container {
  margin: 25px;
  width: 200px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(185, 186, 235);
  background-color: rgb(119, 119, 119);
  padding: 15px;
  overflow: hidden;
}

.card_container .card_container_title {
  margin-top: 0px;
  font-family: "Tillana", cursive;
}

.card_container .card_container_title,
.card_container .card_container_stock,
.card_container .card_container_desc,
.card_container .card_container_count,
.card_container .card_container_send,
.card_container .card_container_img {
  text-align: center;
}

.card_container .card_container_count .count_up,
.card_container .card_container_count .count_data,
.card_container .card_container_count .count_down {
  margin: 0 20px;
}

.card_container .card_container_count .count_up,
.card_container .card_container_count .count_down {
  font-size: 20px;
}

.card_container .card_container_send {
  margin-top: 20px;
}


.card_container .card_container_send .card_send{
  text-decoration: none;
  font-size: 15px;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 0 5px white;
  color: rgb(160, 160, 160);
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 200;
}
.card_container .card_container_send .card_send:hover{
  box-shadow: 0 0 5px white inset, 0 0 5px black;
  cursor: pointer;    
}

.card_container .card_container_img .card_img {
  width: 70%;
}

.card_container .card_container_stock {
  margin-bottom: 8px;
}
/* --- */
.titulo {
  font-family: cursive;
  text-align: center;
  text-shadow: 0px 0px 5px #fff;
  color: #222;
  transition: all 500ms;
}

.titulo:hover {
  text-align: center;
  text-shadow: 0px 0px 20px #fff;
  color: #222;
}
/* --- */

.itemList__container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 10px auto;
  color: #222;
  text-decoration: none;
}

.spiner_container{
  display: inline-block;
  margin: 35px 50%;
}