.titulo {
  font-family:cursive;
  text-align: center;
  text-shadow: 0px 0px 5px #fff;
  color: #222;
  transition: all 500ms;
}

.titulo:hover {
  text-align: center;
  text-shadow: 0px 0px 20px #fff;
  color: #222;
}