@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tillana:wght@400;500;700&family=Yusei+Magic&display=swap");

/*
font-family: 'Roboto', sans-serif;
font-family: 'Tillana', cursive;
font-family: 'Yusei Magic', sans-serif;
*/

.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: #555;
}

/* Logo */

.NavBar .Link {
  text-decoration: none;
}

.NavBar .logo__container {
  margin: auto 15px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.NavBar .logo__container .logo {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 40px;
  padding: 14px;
}

.NavBar .logo__container .title {
  color: #222;
  text-align: center;
  margin: auto;
}

/* Links */
.NavBar .list {
  margin: 0;
  display: flex;
}

.NavBar .list .list__item {
  list-style: none;
  margin: auto 25px;
  text-shadow: 0px 0px 0px green, 0px 0px 0px green;
  transition: all 0.3s ease;
  text-align: center;
}

.NavBar .list .list__item :hover {
  text-shadow: 3px 3px 15px green, -3px -3px 15px green;
  /*transition: all 0.7s;*/
}

.NavBar .list .list__item .list__link {
  text-decoration: none;
  color: #222;
  font-family: "Tillana", cursive;
  font-size: 22px;
  font-weight: 700;
}

/* USER */

.NavBar .user__buttons--container {
  display: flex;
  margin: auto 25px;
  height: 100%;
}

/* --------------------------Loggin Button-------------------------- */
.button {
  font-family: "Yusei Magic", sans-serif;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}

.button.login {
  color: black;
  text-shadow: 1px 1px 1px green, -1px -1px 1px green;
}
.button.login.login:after,
.button.login.login:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
  transition: all 0.3s ease;
  transform: scale(0.85);
}
.button.login.login:hover:before {
  top: 0;
  transform: scale(1);
}
.button.login.login:hover:after {
  transform: scale(1);
}
/* / --------------------------Loggin Button-------------------------- */

.cart_widget_container {
  margin: 34px 8px;
  display: flex;
}

.cart_widget_container .cart_widget {
  width: 25px;
}

.items{
  margin: 5px;
}

.none{
  display: none;
}