.card_container {
  margin: 15px auto;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(1, 3, 158);
  background-color: #aaa;
  padding: 15px;
  overflow: hidden;
}

.card_container .card_container_title {
  font-size: 15px;
  font-weight: 100;
  margin-top: 0px;
  font-family: cursive;
}

.card_container .card_container_title,
.card_container .card_container_stock,
.card_container .card_container_desc,
.card_container .card_container_count,
.card_container .card_container_send,
.card_container .card_container_img {
  text-align: center;
}

.card_container .card_container_count .count_up,
.card_container .card_container_count .count_data,
.card_container .card_container_count .count_down {
  margin: 0 20px;
}

.card_container .card_container_count .count_up,
.card_container .card_container_count .count_down {
  font-size: 20px;
}

.card_container .card_container_send {
  margin-top: 20px;
}

.card_container .card_container_send .card_send {
  font-family: cursive;
  font-weight: 700;
}

.card_container .card_container_img .card_img {
  width: 70%;
}

.card_container .card_container_stock {
  margin-bottom: 8px;
}
